.tab-stack-top-flipped {
	--tab-stacked-text-transform: rotate(180deg);
	--tab-stacked-text-align: right;
}
.tab-stack-center {
	--tab-stacked-text-align: center;
}
.tab-stack-center-flipped {
	--tab-stacked-text-transform: rotate(180deg);
	--tab-stacked-text-align: center;
}
.tab-stack-bottom {
	--tab-stacked-text-transform: rotate(180deg);
}
.tab-stack-bottom-flipped {
	--tab-stacked-text-align: right;
}

.workspace .mod-root .workspace-tabs.mod-stacked .workspace-tab-container .workspace-tab-header-inner {
	flex-direction: var(--tab-stacked-spine-order);
}

/* Tab animations */
body:not(.is-phone) .workspace-tab-header-container {
	transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
}

.workspace .mod-sidedock {
	.workspace-tab-header-container,
	.workspace-tab-header,
	.workspace-tab-header div {
		transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
	}
}