/* Buttons */
button,
.clickable-icon,
select,
.dropdown {
	transition: var(--anim-duration-moderate) var(--anim-motion-baseline), background-color var(--anim-duration-fast);
}

.workspace {
	svg.svg-icon {
		transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
	}

	.clickable-icon:not(.workspace-ribbon > .sidebar-toggle-button > .clickable-icon) svg.svg-icon {
		@starting-style {
			filter: blur(4px);
			scale: 0.75;
			opacity: 0;
		}
	}

	.clickable-icon:not([aria-disabled="true"]):active svg.svg-icon,
	.mod-sidedock .workspace-tab-header.tappable:active svg.svg-icon {
		scale: 0.75;
		opacity: 0.75;
	}
}

.modal.mod-settings button:not(.mod-cta):not(.mod-warning),
.modal button:not(.mod-warning),
.modal.mod-settings button:not(.mod-warning) {
	white-space:nowrap;
	transition:background-color 0.2s ease-out, border-color 0.2s ease-out;
}
button.mod-warning {
	border:1px solid var(--background-modifier-error);
	color:var(--text-error);
	box-shadow:0 1px 1px 0px var(--btn-shadow-color);
	transition:background-color 0.2s ease-out;
}
button.mod-warning:hover {
	border:1px solid var(--background-modifier-error);
	color:var(--text-error);
	box-shadow:0 2px 3px 0px var(--btn-shadow-color);
	transition:background-color 0.2s ease-out;
}
.is-mobile button.mod-warning {
	border: none;
}