/* Modals */

.modal-container {
	perspective: 240px;
}

body:not(.is-mobile) {
	.modal-bg {
		opacity: 0 !important;
	}

	.modal {
		animation: modalIn var(--anim-duration-moderate) var(--anim-motion-baseline) forwards;
	}
}

.modal-title {
	transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
}

body:not(.is-phone) {
	.menu,
	.suggestion-container {
		animation: menuIn var(--anim-duration-moderate) var(--anim-motion-baseline) forwards;
	}
}

body.is-phone {
	.modal {
		animation: none;
	}
}

.modal-button-container .mod-checkbox {
	--checkbox-radius: 4px;
}

/* Confirm delete */
.modal-container.mod-confirmation {
	.modal {
		width:480px;
		min-width:0;
	}
}

/* Hide settings descriptions */
.hide-settings-desc {
	&.is-phone {
		.setting-item {
		padding: 0.65em 0;
		}
		.setting-item-name {
			font-weight: 400;
			font-size: 16px;
		}
	}
	.setting-item-name {
		transition: max-height 200ms ease-in-out, padding-top 200ms ease-in-out;
		&:active + .setting-item-description {
			opacity: 1;
			max-height: 500px;
			padding-top: 4px;
			transition: opacity 100ms ease-out, max-height 200ms ease-out, padding-top 200ms ease-in-out;
		}
	}
	.setting-item-description {
		opacity: 0;
		max-height: 0;
		padding-top: 0;
		transition: max-height 200ms ease-in-out, padding-top 200ms ease-in-out;
	}
}
